@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.main {
  background-color: #414141;
  height: 100%;
  width: 100%;
}

.main_div {
  padding: 1rem 2rem;
  padding-top: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.main-heading {
  grid-column: span 8;
  color: #2fbda3;
}
.main-heading > h3 {
  height: 30px;
}
.mainHelp_icon {
  grid-column: span 4;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  align-items: center;
}
.mainHelp_icon p {
  font-weight: 500;
  font-size: large;
  letter-spacing: 1px;
}
.icon {
  display: flex;
  background-color: #ffffff;
  color: #a3aed0;
  width: 50%;
  border-radius: 5rem;
  justify-content: space-around;
  align-items: center;
  height: 45px;
}

#addon-wrapping {
  background: #f3f3f3;
  color: #3bc0a8;
}
#search_bar {
  border-color: #f3f3f3;
  background: #f3f3f3;
}
#search_bar::placeholder {
  color: #8f9bba;
}

.add_resource {
  background-color: #2fbda3;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  text-align: center;
  padding: 0.5rem 1.3rem;
}

.nav_list {
  display: flex;
  list-style: none;
  font-size: small;
}
.list-item {
  /* padding: 1px 2px; */
  padding-bottom: 0;
  width: 10%;
  min-width: 80px;
  text-align: center;
}
.nav_list > li.active-item {
  border-bottom: 3px solid #2fbda3;
}
.card_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem 2rem;
  /* border: 1px solid red; */
  overflow: hidden;
}
.card_container > div.card {
  border-radius: 10px;
  min-height: 350px;
  max-height: 370px;
  background-color: #111111;
  color: #ffffff;
  /* width: 260px; */
}
.card_container > div.card > .card-text {
  height: 15%;
  display: flex;
  align-items: end;
  padding-left: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  font-size:medium;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-image {
  padding: 13px;
  padding-top: 10px;
  height: 85%;
  /* border: 1px solid red; */
}

.card-image > img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 12px;
  overflow: hidden;
}
.hover-data {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 13px;
  height: 30%;
  width: calc(100% - 26px);
  background-color: #656261e8;
  backdrop-filter: blur(5px);
  overflow: hidden;
  font-size: small;
  text-align: center;
}
.resource_navbar {
  color: white;
}
.card:hover .card-image > img {
  transition: all 0.3s ease;
  object-fit: cover;
}
.card:hover .hover-data {
  display: block;
}

@media screen and (max-width: 992px) {
  .card_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .card_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .card_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 650px) {
  .card_container > div.card {
    min-height: 250px;
  }
}
@media screen and (max-width: 450px) {
  .card_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}