.main_container {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  height: 100%;
  background-color: #414141;
}

.main_div {
  padding: 1rem 2rem;
  padding-top: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.main-heading {
  grid-column: span 6;
  color: #2fbda3;
}
.main-heading > h3 {
  height: 30px;
}
.mainHelp_text {
  display: flex;
  align-items: center;
  height: 50px; /* Fixed height for visibility */
}
.mainHelp_icon {
  grid-column: span 6;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  align-items: center;
  flex-wrap: wrap;
}
.mainHelp_icon p {
  font-weight: 500;
  font-size: large;
  letter-spacing: 1px;
}
.icon {
  display: flex;
  background-color: #ffffff;
  color: #a3aed0;
  width: 40%;
  border-radius: 5rem;
  justify-content: space-around;
  align-items: center;
  height: 45px;
}
button.add_resource {
  background-color: #2fbda3;
  color: white;
  text-transform: none;
  font-size: 0.875rem; /* small in typical font sizes */
  border-radius: 8px;
}

button.add_resource:hover {
  background-color: rgb(60, 212, 184);
}
.table_div {
  background-color: #656261;
  color: #e6e7e8;
  margin: 1rem;
  border-radius: 0.7rem;
  height: 500px;
  text-align: center;
  overflow-y: auto;
}
.table_navbar {
  width: calc(100%);
  list-style: none;
  padding: 0;
  padding-top: 5px;
  align-items: end;
}
.table_navbar li {
  border-bottom: 1px solid #e6e7e89f; /* Corrected border property */
  text-align: center;
  padding-inline: 30px;
  padding-bottom: 5px;
}
#table {
  width: 100%;
  border-collapse: collapse;
  background-color: inherit;
  font-size: small;
}
#table th {
  font-size: medium;
  padding-bottom: 10px;
}
#table th svg {
  font-size: medium;
}
#table th,
#table td {
  text-align: center;
  border-bottom: 1px solid #e6e7e8;
  vertical-align: middle;
}

#table th {
  /* background-color: #555; */
  color: #f3f3f3;
}
#table thead th {
  vertical-align: bottom; /* Aligns the header text vertically */
  border-bottom: 2px solid #f3f3f3; /* Thicker bottom border for header */
}
.flex-center-end {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: end;
}

.image-container {
  border-radius: 50%;
  overflow: hidden;
  max-width: 40px;
  max-height: 40px;
}

.email-details {
  overflow: hidden;
  text-overflow: ellipsis;
}

.status-label {
  padding: 0.2rem;
  background-color: #0e2549;
  color: #2fbda3;
  margin-inline: 1rem;
  margin-top: 1rem;
  border-radius: 50px; /* assuming rounded-pill is approximately this */
}

button.button-outlined-small {
  color: #aef2e6;
  border-color: #93feea;
}

button.icon-button-small {
  color: #2FBDA3;
}

.navigationItem:hover {
  border-color: #2fbda3;
  color: #2fbda3;
}
/* #table tbody td:hover {
    background-color: #ddd;
  } */

@media (max-width: 768px) {
  .header div {
    width: 100%;
  }

  .header .row {
    justify-content: flex-start;
  }

  .icon {
    flex-direction: row;
    justify-content: space-between;
  }
}
