main {
  background-color: #000000;
  color: white;
  height: 100%;
  position: relative;
}

.logo{
    height: 5rem;
    text-align: center;
    padding-block: 1.4rem;
}
.list-sidebar{
  display: flex;
  flex-direction: column;
  
}

.list-sidebar>li{
  padding: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.list-sidebar li a{
  color: inherit;
  text-decoration: none;
}
ul.list-sidebar>li.active{
  border: 1px solid red;
  color: #2fbda3;
  position: relative;
  border: 2px solid #2fbda3;
}
ul.list-sidebar>li.active::after{
  position: absolute;
  display: inline;
  content: "";
  border: 2px solid #2fbda3;
  right: 0;
  margin-top: -8px;
  height: 100%;
  border-radius: 4rem;
  text-align: end;
}
.signout_div{
  position: absolute;
  bottom: 50px;
  text-align: center;
  width: 100%;
}
div.signout_div>.signout_button{
  background-color: #2fbda3;
  color: white;
  width: 70%;
  margin-inline: auto;
  font-size: larger;
  font-weight: 400;
 }

.list-sidebar>li:hover{
  color: #2fbda3;
}
