main {
  background-color: #000000;
  color: white;
  height: 100%;
}

.logo{
    height: 60px;
    width: 60%;
    margin-left: 2rem;
    text-align: center;
    padding-block: 1.4rem;
}
.logo>img{
  width: 100%;
  object-fit: fill;
  margin-top: 0.6rem;
}
.list-sidebar{
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  overflow-y: hidden;
  height: 75%;
  gap: 2rem;
  padding-block: 2rem;
}

.list-sidebar>li{
  text-overflow: ellipsis;
  color: #A3AED0;
  width: 100%;
  padding-right: 0.6rem;
}
.list-sidebar>li> div{
  display: flex;
  gap: 0.7rem;
  align-items: center;
}
ul.list-sidebar>li.active{
  color: #2FBDA3;
  position: relative;
}
ul.list-sidebar>li.active::before{
  position: absolute;
  display: inline;
  content: "";
  border: 1px solid #2fbda3;
  right: 0;
  height: 100%;
  border-radius: 4rem;
  text-align: end;
}
.signout_div{
  /* position: absolute; */
  /* bottom: 50px; */
  text-align: center;
  /* width: 100%; */
}
div.signout_div>.signout_button{
  background-color: #2fbda3;
  color: white;
  width: 70%;
  margin-inline: auto;
  font-size: larger;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
 }

.list-sidebar>li:hover{
  color: #2fbda3;
}
