.textarea-feedback {
  width: 90%;
  padding: 1rem;
  margin-block: 1rem;
  background-color: inherit;
  border-radius: 0.25rem; /* Assuming you want a small border-radius */
  color: #fff;
}
.textarea-feedback:focus{
  border-color: #0779ff;
  outline: none;
}
.upload-section {
  width: 90%;
  border: 1px dashed #B8BABC;
  margin-top: 20px;
  border-radius: 5px;
  padding: 1rem;
}
.upload-button {
  border-color: #033c80;
}
.image-preview {
  width: 60%;
  margin-top: 20px;
  margin-left: 20%;
  border-radius: 5px;
  overflow: hidden;
}

.image-preview img{
  object-fit: cover;
  width: 80%;
  height: 30%;
}
.upload-label {
  display: block;
  margin-bottom: 1rem;
  text-align: center;
}
.dialog-actions {
  display: flex;
  justify-content: space-between;
  gap: 16px; /* MUI's spacing system typically uses increments of 8px, so '2' would be 16px */
}

button.button-outlined {
  text-align: center;
  width: 100%;
  border-color: #2fbda3;
  color: #2fbda3;
}

button.button-outlined:hover {
  border-color: rgb(60, 212, 184);
  color: rgb(60, 212, 184);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

button.button-contained {
  text-align: center;
  width: 100%;
  background-color: #2fbda3;
}

button.button-contained:hover {
  background-color: rgb(60, 212, 184);
}
